{% extends 'base.html.twig' %}

{% block title %}Hello FournisseurController!{% endblock %}

{% block body %}
    <h1>Fournisseur</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(form) }}
{% endblock %}
